<div class="row">
  <div class="small-12 columns">
    <div id="error_explanation">
      <% if @item.errors.any? %>
        <ul>
          <% @item.errors.full_messages.each do |error| %>
            <%= content_tag :li, error %>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>

<%= form_for @item do |f| %>
  <div class="row">
    <div class="small-2 columns">
      <%= f.label :name %>
    </div>
    <div class="small-10 columns">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="row">
    <div class="small-2 columns">
      <%= f.submit 'Create', {class: 'button tiny'} %>
    </div>
  </div>
<% end %>


